.about {
	z-index: 10;
	width: 100%;
	margin: 0 auto;
	background: #222;
	//max-width: 1650px;
}

.footer-content{
	width: 100%;
	margin: 0 auto;
	h3{
		padding-top: 2em;
	}
}

.about-content{
	display: flex;
	justify-content: space-evenly;
}

.profile-img{
	margin: 6.8em 0 2.2em;
	img{
		width: 100%;
		height: auto;
		margin: 0 auto;
	}
}

.about-blurb{
	padding-right: 1em;
	width: 50%;
	
}

.details{
	h3{
		margin-top: 0.2em;
		margin-bottom: 0;
		padding-top: 0;
		text-align: center;
	}
	p{
		margin:0;
		padding: 0;
		text-align: center;
	}
	.email{
		text-align: center;
		display: block;
	}
}

.link-sprites{
	text-decoration: none;
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	padding: 0 3.2em;
}

.sprites{
	img{
		width: 45px;
	}
}