@keyframes pulser {
	0% {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari */
		transform: scale(1);
	}
	50% {
		-ms-transform: scale(1.25); /* IE 9 */
		-webkit-transform: scale(1.25); /* Safari */
		transform: scale(1.25);
	}
	100% {
		-ms-transform: scale(1); /* IE 9 */
		-webkit-transform: scale(1); /* Safari */
		transform: scale(1);
	}
}

.sticky {
    -webkit-transform: rotateX(180deg); /* Safari */
    transform: rotateX(180deg);
}

#front {
	-webkit-transform: rotateX(180deg); /* Safari */
	transform: rotateX(180deg);
	transform-origin: 35% 35%;
}

#after {
	-webkit-transform: rotateX(180deg); /* Safari */
	transform: rotateX(180deg);
	transform-origin: 35% 35%;
}