body{
	//background-image: linear-gradient(141deg, #a9b4c2 0%, #3b6b86 51%, #2f4155 75%);
	background-image: linear-gradient(140deg, #1B3842 5%, #9DA083 85%);
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: $text-color;
	font-family: $mainfont;
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	height:100%;
	position: relative;
}

.left-corner {
	background: url(../img/leftangle-small.svg) no-repeat;
	background-position: 0 0;
	height: 100vh;
	width: 377px;
	position: absolute;
	left: 0;
	display: block;
}

@media screen and (min-width: 600px) {
	.left-corner {
		background-position: 0 0;
		height: 100vh;
	}
}

@media screen and (min-width:1280px){
	.wrapper{
		width: 80%;
		min-width: 1280px;
		margin: 0 auto;
	}
}

.right-corner {
	background: url(../img/right-angle.svg) no-repeat;
	background-position: 100% 100%;
	position: absolute;
	right: 0;
	z-index: 5;
	display: block;
	height: 100vh;
	width: 500px;
}

.bg-angles {
	z-index: -9999;
	position: absolute;
	background: url(../img/bg-cross.svg) no-repeat;
	background-position: 50% 0;
	width: 100%;
	height: 100%;
}


.sticky {
	position: fixed;
	top: 0;
	left: 0;
	background: $bg-opac;
	width: 100%;
	display: flex;
	justify-content: center;
	fill: $text-color;
	margin: 0;
	padding: 1em 0;
	cursor: auto;
	transition: all ease-in-out .5s;
}

@media screen and (min-width: 600px) {
	.sticky {
		background: transparent;
	}
}

.pointer {
	cursor: pointer;
}

.pointer:hover {
	fill: $highlight;
}


