body{
	background: $background-color;
	color: $text-color;
	font-family: $mainfont;
	margin: 0;
	padding: 0;
}

.wrapper {
	position: relative;
	width: 100%;
	height:100%;
}

.left-corner {
	background: url(../img/leftangle-small.svg) no-repeat;
	background-position: 0 0;
	height: 100vh;
	width: 377px;
	position: absolute;
	left: 0;
	display: inline;
}

@media screen and (min-width: 600px) {
	.left-corner {
		background-position: 0 0;
		height: 100vh;
	}
}

.right-corner {
	background: url(../img/right-angle.svg) no-repeat;
	background-position: 100% 100%;
	position: absolute;
	right: 0;
	z-index: 5;
	display: inline;
	height: 100vh;
	width: 500px;
}

.bg-angles {
	z-index: -9999;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bg {
	background: rgba(41,41,43,0.8);
	height: 3500px;
	width: 450px;
	position: absolute;	
}

.bg-right {
	-ms-transform: rotate(27.81deg); /* IE 9 */
    -webkit-transform: rotate(27.81deg); /* Safari */
    transform: rotate(27.81deg);
    transform-origin: top left;
	top: 550px;
	right: -450px;
	height: 5500px;
}

.bg-left {
	-ms-transform: rotate(-27.81deg); /* IE 9 */
    -webkit-transform: rotate(-27.81deg); /* Safari */
    transform: rotate(-27.81deg);
    transform-origin: top right;
    top: 1000px;
    left: -450px;
}

.sticky {
	position: fixed;
	top: 0;
	background: $bg-opac;
	width: 100%;
	display: flex;
	justify-content: center;
	fill: $text-color;
	margin: 0;
	padding: 1em 0;
	cursor: auto;
	transition: all ease-in-out .5s;
}

@media screen and (min-width: 600px) {
	.sticky {
		background: transparent;
	}
}

.pointer {
	cursor: pointer;
}

.pointer:hover {
	fill: $highlight;
}


