$background-color: #2D2D2F;
$bluebg-color: #2d3542;
$text-color: rgb(214, 214, 218);
$darkbg-color: #262628;
$highlight: rgb(27,56,66);
$bluehl: #425370;
$bg-opac: rgba(41,41,43,0.8);

// Font -- PT Sans or Druid Sans from Google fonts

$mainfont: 'Catamaran', sans-serif;