$background-color: #2D2D2F;
$text-color: #B4B4B5;
$darkbg-color: #262628;
$highlight: #F8DB3C;
$bg-opac: rgba(41,41,43,0.8);

// Font -- PT Sans or Druid Sans from Google fonts

$mainfont: 'Catamaran', sans-serif;