.work {
	z-index: 10;
	width: 90%;
	margin: 0 auto;
	margin-top: 5.5em;
}

.example {
	display: flex;
	justify-content: space-between;
}

.example img {

}

.example img:hover {
	
}

.ex-right {

}

.ex-left {

}

hr {
	margin: 4.5em auto;
	color: $text-color;
	
}

.content {
	width: 45%;
}