.work {
	z-index: 10;
	width: 90%;
	margin: 0 auto;
	margin-top: 5.5em;
}

.example {
	display: flex;
	flex-direction: column;
}


.example img {
	max-width: 100%;
	height: auto;
}


.content-right {
	width: 100%;
	order: 1;
}

.content-left {
	width: 100%;
	order: 1;
}

.img-left {
	order: 2;
}

.img-right {
	order: 2;
}

@media screen and (min-width: 600px) {
	.example {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	.content-left,
	.content-right {
		width: 45%;
	}

	.content-right {
		order: 2;
	}

	.content-left {
		order: 1;
	}

	.img-left {
		order: 2;
	}

	.img-right {
		order: 1;
	}
}